/**
 * # Theme: Firefox DevTools - Light
 *
 * DevTool Colors:
 * - https://developer.mozilla.org/en-US/docs/Tools/DevToolsColors
 */

$background = #fcfcfc;  // --theme-body-background
$text = #18191a; // --theme-body-color
$name = #0072ab; // --theme-highlight-bluegrey
$comment = #747573; // --theme-comment
$backgroundSelected = #4c9ed9; //  --theme-selection-background
$backgroundHovered = #D3E6F4;
$selected = #D3E6F4;// #f5f7fa; // --theme-selection-color
$attributeValue = #d97e00; // --theme-highlight-lightorange
$attributeKey = #0088cc; // --theme-highlight-blue
$wrap = #292e33; // --theme-content-color1
$expander = #667380; // --theme-content-color3


.HTMLTree {

  background-color: $background;

  & .Node {

    &__Tag {
      &:hover, &:not(.selected):not(.unfocused):hover ~ .Node__Tail, &.tailed {
        background-color: $backgroundHovered;
      }
      &.selected {
        background-color: $backgroundSelected;
      }
      &.unfocused {
        background-color: $backgroundSelected;
      }
    }

    &__Expander {
      color: $expander;
      /.selected .Node__Expander, /.unfocused .Node__Expander {
        color: $selected;
      }
    }

    &__Wrap {
      color: $wrap;
      /.selected .Node__Wrap, /.unfocused .Node__Wrap {
        color: $selected;
      }
    }

    &__Container {
      /.selected .Node__Container, /.unfocused .Node__Container {
        color: $selected;
      }
    }

    &__Comment {
      color: $comment;
      /.selected .Node__Comment, /.unfocused .Node__Comment {
        color: $selected;
      }
    }

    &__Name {
      color: $name;
      /.selected .Node__Name, /.unfocused .Node__Name {
        color: $selected;
      }
    }

    &__AttributeKey {
      color: $attributeKey;
      /.selected .Node__AttributeKey, /.unfocused .Node__AttributeKey {
        color: $selected;
      }
    }

    &__AttributeValue {
      color: $attributeValue;
      /.selected .Node__AttributeValue, /.unfocused .Node__AttributeValue {
        color: $selected;
      }
    }

  }
}
